.App {
  text-align: center;
 
}

.bg-home-overlay{
  
}
 .bg-home-overlay-text-h1{
  font-size: 45px;
  font-weight: 110;
  color: black;
  
  
 

}
.bg-home-overlay-text{
  color: rgb(0, 0, 0);
 /* margin-left: "90%";*/
  transform: translate(100%,100%);
  margin-left: 10%;
  width: 40%;
}
/* .card-global{
 

} */
.header{
  border-radius: none ;
}
.card-slid{
  border-radius: none !important;
 
}


@media (prefers-reduced-motion: no-preference) {
  .slid {
    animation: slide-home infinite 20s linear;
  }
}



@keyframes slide-home {
  0%{
    transform: translatey(800px);
  }
  100% {
    transform: translatey(50px);
  }
}
/* tache individuel*/
.g-task-one-individual{
background-color: white;
box-shadow: 0 1px 9px 0 rgb(0 0 0/14%) ;

}
.task-one-individual-footer{
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.269);
  border-bottom: none;
  border-right: none;
  border-left: none;
}
/* Encours*/

.encours-general{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-top: 3px solid blue;
  border-left: 3px solid blue;
  border-bottom: 3px solid blue;
  animation: slide-encours infinite 1.5s linear;
}
@media (prefers-reduced-motion: no-preference) {
  .anim-encours {
    
  }
}
@keyframes slide-encours {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes slideInFromRight {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

