.App {
  text-align: center;
 
}

.bg-home-overlay{
  transform: translatey(40%);
}
 .bg-home-overlay-text-h1{
  font-size: 70px;
  font-weight: 190;
  color: crimson;
}
.bg-home-overlay-text{
  color: rgb(0, 0, 0);
}
/* .card-global{
 

} */
.header{
  border-radius: none ;
}
.card-slid{
  border-radius: none !important;
 
}


@media (prefers-reduced-motion: no-preference) {
  .slid {
    animation: slide-home infinite 20s linear;
  }
}



@keyframes slide-home {
  0%{
    transform: translatey(800px);
  }
  100% {
    transform: translatey(50px);
  }
}
/* tache individuel*/
.g-task-one-individual{
background-color: white;
box-shadow: 0 1px 9px 0 rgb(0 0 0/14%) ;
}
.task-one-individual-footer{
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.269);
  border-bottom: none;
  border-right: none;
  border-left: none;
}
